* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  margin: 0 0 16px;
  line-height: 133%;
}

li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

li:last-child {
  margin-bottom: 0;
}

#categories {
  width: 392px;
}

.item {
  border: none;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  /* margin: 0; */
  margin-bottom: 24px;
}
