* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  margin: 0 0 16px;
  line-height: 133%;
}

li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

li:last-child {
  margin-bottom: 0;
}

#categories {
  width: 392px;
}

.item {
  border: none;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  border: none;
  padding: 0;
  margin: 0;
  width: calc((100% - 48px) / 3);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 16px;
  letter-spacing: 0.04em;
}

#name-input:focus,
#name-input:hover {
  border: 1px solid #000;
  outline: none;
}

h1 {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 150%;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

.login-form input:focus,
.login-form input:hover {
  border: 1px solid #000;
  outline: none;
}

.login-form button {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  border: none;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.login-form button:hover {
  background: #6c8cff;
}
